[Desktop Entry]
Encoding=UTF-8
Name=Link to viva_demo - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=3QPXbJrcDVE&feature=youtu.be
Icon=text-html
