[Desktop Entry]
Name[en_US]=Viva
Exec=gnome-terminal -e "bash -c 'sudo /home/vagrant/ICSE-2014-Viva/built-vm/commands.sh;$SHELL'"
Terminal=true
Type=Application
