[Desktop Entry]
Encoding=UTF-8
Name=VivaAuthorDemonstration
Type=Link
URL=https://www.youtube.com/watch?v=jHVwuR5AYgA
Icon=text-html
Name[en_US]=VivaAuthorDemonstration
