[Desktop Entry]
Encoding=UTF-8
Name=VivaDemoVideo
Type=Link
URL=https://www.youtube.com/watch?v=3QPXbJrcDVE&feature=youtu.beIcon=text-html
Icon=text-html
Name[en_US]=VivaDemoVideo
